<h1>Welcome to Campgrounds Services</h1>
<h3>See our campgrounds <%= link_to 'here', campgrounds_path %></h3>
<p>Can you see the picture of the trees?</p>
<p>Those trees are here in our Park</p>
<p>Oh, you can't see it?</p>
<p>That's too bad</p>
